<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>IMDb Game</title>
</head>
<body>
<header><h1 id="title">IMDb Game</h1></header>
<main>
    <section id="game-status">
        <h1 id="game-round">Round {{ game_round_num }}</h1>
    </section>
</main>
</body>
</html>
