{% extends 'base.html' %}

{% block content %}
    <section id="game-status">
        <h1 id="game-round">Round {{ game_round_num }}</h1>
    </section>
    <section id="select-movie-year">
        <ul id="movie-year-list">
            <li class="year"><h2><a href="movie/{{ choices[0]['movie_id'] }}">{{ choices[0]['release_year'] }}</h2></li>
            <li class="year"><h2><a href="movie/{{ choices[1]['movie_id'] }}">{{ choices[1]['release_year'] }}</h2></li>
            <li class="year"><h2><a href="movie/{{ choices[2]['movie_id'] }}">{{ choices[2]['release_year'] }}</h2></li>
        </ul>
    </section>
{% endblock %}
